#bottomControlBar {
  height: 6.8%;
  width: 100%;
  background-color: #454243;
  position: relative;
  border-top: 1px solid rgba(69, 66, 67, 0.6);

  #readyButton {
    width: 30%;
    height: 2rem;
    margin: 0 auto;
    background-color: #918781;
    color: #DFE2E3;
    text-align: center;
    line-height: calc(2rem - 4px);
    font-size: 1.5rem;
    box-sizing: border-box;
    border: 2px solid #454243;
    box-shadow: 0.1rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
    border-radius: 0.3rem;
    position: absolute;
    bottom: 118%;
    left: 35%;
  }

  #inputTypeToggleButton {
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 0.9rem;
    background-color: #E9B581;
    color: #DFE2E3;
    text-align: center;
    line-height: 1.7rem;
    margin-left: 1rem;
    margin-top: 0.2rem;
    border: 1px solid #DFE2E3;
    box-shadow: 0.1rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3);

    i.iconfont {
      font-size: 1.3rem;
    }
  }
}