#gameBoard {
    // background-color: #000;
    height: 85%;
    width: 100%;
    position: relative;
    // display: flex;
    // flex-wrap: wrap;
    // align-content: center;
    // justify-content: space-around;

    .playersList {
      width: 22%;
      position: absolute;
      top: 0;
      bottom: 0;
    }

    #leftPlayers {
      left: 0;
    }

    #rightPlayers {
      right: 0;
    }
  }
  