#gameBoard {
    // background-color: #000;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
  }
  
  .playerBlock {
    width: 6rem;
    height: 7rem;
    background-color: #fff;
    margin: 0.5rem;
  }
  
  .playerBlock.checked {
    background-color: #ccc;
  }
  