.hintInfoContainer {
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
  font-size: 0.8rem;  
  margin-top: 0.5rem;
  color: #F7F8F8;

  .systemHint {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.2rem;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .hintFrom {
    margin-bottom: 0.4rem;
    display: inline-block;
    padding: 0 0.3rem;
    color: #000;

    .fromMark.system {
      background-color: #919EC4;
      border-radius: 0.3rem;
      color: #F7F8F8;
      padding: 0 0.3rem;
      float: left;
      margin-right: 0.2rem;
    }
  }

  .hintContent {
    position: relative;
    width: 96%;
    margin: auto;
    display: block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    color: #000;
    background-color: #D9D9DB;
    box-sizing: border-box;
  }

  .hintContent:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-bottom: 0.4rem solid #D9D9DB;
    display: block;
    position: absolute;
    top: -0.3rem;
  }
}