* {
    margin: none;
    padding: none;
  }
  
  html {
    height: 100%;
    background-color: #0F2540;

    body {
      height: 100%;
      margin: 0;

      #app {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }