// colors: #F7F8F8
// #454243
// #DFE2E3
// #A6A3A2
// #918781
// #E9B581

* {
    margin: none;
    padding: none;
  }
  
  html {
    height: 100%;
    background-color: #454243;

    body {
      height: 100%;
      margin: 0;

      #app {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }