.playerBlock {
    width: 80%;
    height: 17%;
    background-color: #FAFBFC;
    margin: 0.5rem auto;
    border-radius: 0.3rem;
    box-shadow: 0.1rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
    padding: 0.2rem;
    box-sizing: border-box;
    position: relative;

    .playerIndex {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #FAFBFC;
      color: #919EC4;
      width: 1rem;
      text-align: center;
      border-radius: 0.3rem 0 0.3rem 0;
    }

    .playerAvatar {
      width: 100%;
      border-radius: 0.3rem;
      background-color: #D9D9DB;
      box-shadow:0.2rem 0.2rem 0.3rem rgba(0,0,0,.3) inset;
      img {
        width: 100%;
        display: block;
        border-radius: 0.3rem;
        vertical-align: baseline;
      }
    }

    .playerName {
      text-align: center;
      color: #919EC4;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 0.8rem;
      margin-top: 0.1rem;
    }
  }
  
  .playerBlock.checked {
    background-color: #ccc;
  }