#RadioSelector {
  width: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-around;

  div {
    width: 25%;
    input {
      visibility: hidden;
      height: 0;
      width: 0;
      display: block;
    }
    img {
      width: 100%;
      vertical-align: bottom;
      display: block;
      border: 3px solid #FFF;
    }
    input:checked+label {
      img {
        border: 3px solid #F13564;
      }
    }
  }
}

