#topControlBar {
  width: 100%;
  height: 8%;
  box-sizing: border-box;    
  padding: 0.3rem;  
  background-color: #454243;
  position: relative;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);

  #exitRoomButtom {
    background-color: #E9B581;
    color: #F7F8F8;
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 5%;
    width: 3rem;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3)
  }

  #roomInfo {
    width: 33%;
    height: 100%;
    margin: 0 auto;
    background-color: #F7F8F8;
    border-radius: 0.3rem;
    text-align: center;

    p {
      margin: 0;
      height: 45%;
      font-size: 0.9rem;
    }
  }
}