#topControlBar {
  width: 100%;
  height: 8%;
  box-sizing: border-box;    
  padding: 0.3rem;  
  background-color: #D9D9DB;
  position: relative;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);

  #exitRoomButtom {
    background-color: #F13564;
    color: #FAFBFC;
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 5%;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 0.9rem;
    text-align: center;
    border: 3px solid #FAFBFC;
    line-height: 1.7rem;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3);

    i.iconfont {
      font-size: 1.2rem;
    }
  }

  #roomInfo {
    width: 33%;
    height: 100%;
    margin: 0 auto;
    background-color: #FAFBFC;
    color: #919EC4;
    border-radius: 0.3rem;
    text-align: center;
    box-shadow:0.1rem 0.1rem 0 rgba(0,0,0,.3) inset;

    p {
      margin: 0;
      height: 45%;
      font-size: 0.9rem;
    }
  }
}