* {
  margin: none;
  padding: none;
}

html {
  /*background-color: #000;*/
  height: 100%;
  background-color: #000;
}

html body {
  height: 100%;
  margin: 0;
}

html body #app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#username-block {
  position: absolute;
  background-color: #fff;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

#username-block h1 {
  margin-top: 12%;
}

#username {
  width: 15rem;
  height: 2rem;
  font-size: 2rem;
  border: 2px solid #000;
}

#submit-username {
  display: block;
  text-align: center;
  margin: 1rem auto 0 auto;
  width: 8rem;
   height: 2rem;
   background-color: #000;
   font-size: 1.2rem;
   line-height: 2rem;
   color: #fff;
   border: none
}